<h1>Adicione seu Usuário</h1>
<div class="container-form">
    <form action="/users/create" method="POST" class="form">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Nome de usuário">
        </div>
        <div class="form-control">
            <label for="occupation">Profissão: </label>
            <input type="text" name="occupation" placeholder="Qual sua profissão?">
        </div>
        <div class="form-control">
            <input type="checkbox" name="newsletter" checked>
            <label for="newsletter">Receber Promoções?</label>
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>