<a href="/">Voltar</a>

<h1>{{user.name}}</h1>
<p>{{user.occupation}}</p>
<div>
    <strong>Data da Cadastro:</strong>
    <p>{{user.createdAt}}</p>
</div>
<div>
    <strong>Ultima alteração:</strong>
    <p>{{user.updatedAt}}</p>
</div>